.hero {
  margin: 0 16px;
  padding-bottom: 60px;

  section {
    h1 {
      font-size: 4rem;
      line-height: 3.8rem;
      font-feature-settings: "palt";
    }
    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
    div.hero-link {
      margin: 32px 0;
      display: flex;
      a.btn {
        all: unset;
        cursor: pointer;
        display: inline-block;
        border: 1px solid rgba(92, 147, 187, 0.17);
        border-radius: 32px;
        padding: 16px 24px;
        margin: 0 16px 0 0;
        color: #119eff;

        &:hover {
          opacity: 0.8;
        }

        &.inside {
          background: #119eff;
          color: #ffffff;
        }
      }
    }
  }
  @media screen and (min-width: 960px) {
    display: flex;
    justify-content:space-between;

    section {
      width: 60%;
      flex-grow: 1;
      & > * {
        max-width: 600px;
      }
    }
    img {
      width: auto;
      height: auto;
      max-width: 420px;
      flex-grow: 1;
      margin-top: 120px;
    }
  }


  @media screen and (max-width: 960px) {
    img {
      display: none;
    }
  }
}
