dist
www
tmp
node_modules
.angular
coverage
package-lock.json
_stencil
public
src/stripe/docs
src/stripe/assets
src/stripe/config
src/stripe-identity/docs
src/stripe-identity/config
src/app/generated
src/**/docs
*.png
*.ico
*.svg
readme.md
