dist
www
tmp
node_modules
.angular
coverage
package-lock.json
_stencil
projects/docs/public
projects/docs/src/stripe/docs
projects/docs/src/stripe/assets
projects/docs/src/stripe/config
projects/docs/src/stripe-identity/docs
projects/docs/src/stripe-identity/config
projects/docs/src/app/generated
projects/docs/src/**/docs
*.png
*.ico
*.svg
readme.md
