@import url(~sanitize.css);

:host {
  .wrapper {
    display: flex;
    position: relative;

    app-menu {
      width: 200px;
      margin-right: 20px;
      align-self: flex-start;
      z-index: 10;

      position: sticky;
      top: 0;

      // モバイル時の開閉用
      @media screen and (max-width: 1200px) {
        position: absolute;
        background: #ffffff;
        box-shadow: 8px 0 3px -3px rgba(0, 0, 0, 0.1);
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(-103%);
        will-change: transform;
        transition: all 200ms ease-in;

        &.slide-in {
          transform: none;
          transition: all 200ms ease-in;
        }
      }
    }

    main {
      max-width: calc(100% - 200px - 20px);
      margin: 16px auto 0;
      padding-right: 16px;

      @media screen and (max-width: 1200px) {
        max-width: 100%;
      }
    }
  }
}
