@import url(~sanitize.css);

:host {
  .wrapper {
    display: flex;
    position: relative;

    app-menu {
      width: 200px;
      min-height: calc(var(--vh) * 100 - 61.8px);
      margin-right: 20px;
      align-self: flex-start;
      z-index: 10;

      position: sticky;
      top: 0;

      // モバイル時の開閉用
      @media screen and (max-width: 1200px) {
        position: absolute;
        background: #ffffff;
        box-shadow: 8px 0 3px 0 rgba(0, 0, 0, 0.05);
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(-103%);
        will-change: transform;
        transition: all 200ms ease-in;

        &.slide-in {
          transform: none;
          transition: all 200ms ease-in;
        }
      }
    }

    main {
      max-width: calc(100% - 180px - 20px);
      margin: 16px auto 0;
      padding-right: 16px;
      transition: all 200ms;

      &.slide-out {
        opacity: 0.5;
      }

      @media screen and (max-width: 1200px) {
        max-width: 100%;
      }
    }
  }

  footer {
    background-color: rgba(92, 147, 187, 0.17);
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.8rem;
      padding: 0 16px;

      a {
        color: #333333;
      }
    }
  }
}
