.app-docs {
  display: flex;
  align-items: flex-start;
  max-width: 100%;

  > * {
    flex: 1;
    max-width: 100%;
    min-width:0;
  }

  app-codes {
    position: sticky;
    top: 8px;
  }

  @media screen and (max-width: 960px) {
    app-codes {
      display: none;
    }
  }
}
